  ACAGAerosols.fields:  'SpeciesConc_SOAS           ', 'GCHPchem',
                        'SpeciesConc_SOAIE          ', 'GCHPchem',
                        'SpeciesConc_SOAGX          ', 'GCHPchem',
                        'SpeciesConc_SO4            ', 'GCHPchem',
                        'SpeciesConc_SALC           ', 'GCHPchem',
                        'SpeciesConc_SALA           ', 'GCHPchem',
                        'SpeciesConc_OCPO           ', 'GCHPchem',
                        'SpeciesConc_OCPI           ', 'GCHPchem',
                        'SpeciesConc_NIT            ', 'GCHPchem',
                        'SpeciesConc_NH4            ', 'GCHPchem',
                        'SpeciesConc_DST4           ', 'GCHPchem',
                        'SpeciesConc_DST3           ', 'GCHPchem',
                        'SpeciesConc_DST2           ', 'GCHPchem',
                        'SpeciesConc_DST1           ', 'GCHPchem',
                        'SpeciesConc_BCPO           ', 'GCHPchem',
                        'SpeciesConc_BCPI           ', 'GCHPchem',
                        'SpeciesConc_LVOCOA         ', 'GCHPchem',
                        'AODHygWL1_SO4              ', 'GCHPchem',
                        'AODHygWL1_BCPI             ', 'GCHPchem',
                        'AODHygWL1_OCPI             ', 'GCHPchem',
                        'AODHygWL1_SALA             ', 'GCHPchem',
                        'AODHygWL1_SALC             ', 'GCHPchem',
                        'AODDust                    ', 'GCHPchem',
                        'PM25                       ', 'GCHPchem',
                        'Met_RH                     ', 'GCHPchem',
                        'Met_BXHEIGHT               ', 'GCHPchem',
                        'Met_T                      ', 'GCHPchem',
                        'Met_PMID                   ', 'GCHPchem',
                        'Met_PMIDDRY                ', 'GCHPchem',
                        'Met_PBLH                   ', 'GCHPchem',
                        'Met_AIRDEN                 ', 'GCHPchem',
