  ACAGAerosols.fields:  'SpeciesConc_SOAS           ', 'GCHPchem',
                        'SpeciesConc_SOAP           ', 'GCHPchem',
                        'SpeciesConc_SOAIE          ', 'GCHPchem',
                        'SpeciesConc_SOAGX          ', 'GCHPchem',
                        'SpeciesConc_SO4s           ', 'GCHPchem',
                        'SpeciesConc_SO4            ', 'GCHPchem',
                        'SpeciesConc_SO2            ', 'GCHPchem',
                        'SpeciesConc_SALCCL         ', 'GCHPchem',
                        'SpeciesConc_SALCAL         ', 'GCHPchem',
                        'SpeciesConc_SALC           ', 'GCHPchem',
                        'SpeciesConc_SALACL         ', 'GCHPchem',
                        'SpeciesConc_SALAAL         ', 'GCHPchem',
                        'SpeciesConc_SALA           ', 'GCHPchem',
                        'SpeciesConc_OCPO           ', 'GCHPchem',
                        'SpeciesConc_OCPI           ', 'GCHPchem',
                        'SpeciesConc_NITs           ', 'GCHPchem',
                        'SpeciesConc_NIT            ', 'GCHPchem',
                        'SpeciesConc_NH4            ', 'GCHPchem',
                        'SpeciesConc_NH3            ', 'GCHPchem',
                        'SpeciesConc_N2O5           ', 'GCHPchem',
                        'SpeciesConc_N2O            ', 'GCHPchem',
                        'SpeciesConc_DST4           ', 'GCHPchem',
                        'SpeciesConc_DST3           ', 'GCHPchem',
                        'SpeciesConc_DST2           ', 'GCHPchem',
                        'SpeciesConc_DST1           ', 'GCHPchem',
                        'SpeciesConc_BCPO           ', 'GCHPchem',
                        'SpeciesConc_BCPI           ', 'GCHPchem',
                        'SpeciesConc_LVOCOA         ', 'GCHPchem',
                        'Met_RH                     ', 'GCHPchem',
                        'Met_BXHEIGHT               ', 'GCHPchem',
                        'Met_T                      ', 'GCHPchem',
                        'Met_PMID                   ', 'GCHPchem',
                        'Met_PMIDDRY                ', 'GCHPchem',
                        'Met_U10M                   ', 'GCHPchem',
                        'Met_V10M                   ', 'GCHPchem',
                        'Met_TS                     ', 'GCHPchem',
                        'Met_PRECTOT                ', 'GCHPchem',
                        'Met_PBLH                   ', 'GCHPchem',
                        'Met_PS1DRY                 ', 'GCHPchem',
                        'Met_PS1WET                 ', 'GCHPchem',
